% rebase('base.tpl')

    <div class="Center">
        <div class="textPanel">
            <form id="signupform" action="/createaccount" method="post">
                 {{get('account_creation_state', 'Create a new account:')}}
                 <input type="text" name="nick" placeholder="Username">
                 <input type="text" name="password" placeholder="Password">
                 <input type="submit" value="Sign Up" class="signupButton">
		    </form>
        </div>
    </div>