.Center{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
}

.textPanel{
	text-align: center;
	width: 100%;
	background-color: white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	height: 75px;
	margin-bottom:20px;
}

.textPanel p{

	color:#2196F3;
	font-size: 16px;
	line-height: 75px;
}

body{
	background-color: #F9F9F9 ;
	padding: 0 !important;
	margin: 0 !important;
}

nav{
    background-color: white;
	height: 75px;
	width: 100%;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
	border-radius: 0.2em;
}

nav ul{
	margin:0;
	padding:0;
	float: left;
	padding-left: 25px;
}

nav li{
	display:block;
	float: left;
	height: 75px;
	line-height: 75px;
	text-align: center;
	padding-right: 25px;
}

nav li:hover{
	color:white;
}

nav a{
    text-decoration: none;
    border: 2px solid #2196F3;
    padding: 4px;
    padding-left: 25px;
    padding-right: 25px;
    border: 2px solid #2196F3;
    background-color: #2196F3;
    color: white;
    border-radius: 0.2em;
    box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

nav a:hover{
    background-color: white;
	color:#2196F3;
}

.flowtow {
	width: 315px;
	float:left;
	margin-right: 27.5px;
	margin-bottom: 30px;
	text-align:center;
	border-radius: 0.2em;
	background-color:white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
	font-family: 'Roboto', sans-serif;
	position:relative;
}

.flowtow:nth-child(3n+3) {
	margin-right: 0;
}

.flowtow img{
	max-width: 295px;
	margin-top: 10px;
	margin-bottom: 6px;
}


.flowtow:hover .FlowtowInformation {
	visibility: visible;
	background: rgba(0, 0, 0, 0.75);
}

.FlowtowInformation{
	position: absolute;
	top: 10px;
	bottom: 0px;
	left: 10px;
	right: 0px;
	width: 295px;
	height: calc(100% - 20px);
	background: #000000;
	visibility: hidden;
	background: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
}

.flowtow p{
	text-align:center;
	color: #FFFFFF;
	font-size: 14px;
	width: 200px;
	margin-left:auto;
	margin-right:auto;
}

.user{
	padding:0;
	margin:0;
	border: 2px solid #FFFFFF;
	border-bottom: none;
	border-top-left-radius: 0.3em;
	border-top-right-radius: 0.3em;
	margin-top: 5px;
	padding-top: 5px;
}

.date{
	padding:0;
	margin:0;
	border: 2px solid #FFFFFF;
	border-top: none;
	border-bottom: none;
}

.likes{
	padding:0;
	margin:0;
	border: 2px solid #FFFFFF;
	border-top: none;
	border-bottom-left-radius: 0.3em;
	border-bottom-right-radius: 0.3em;
	padding-bottom: 5px;

}

.addLike {
	margin-top: 10px;
	border-radius: 0.25em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
	width: 203px;
	height: 30px;
	font-size: 16px;
	border: 2px solid #2196F3;
    background-color: #2196F3;
    color:#FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.addLike:hover {
    background-color: #FFFFFF;
    color: #2196F3;
}

.Middle{
	align-self: center;
}

#loginform{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:#2196F3;
	height: 100%;
	float: right;
	margin-right: 20px;
	line-height: 75px;
}


#loginform input[type="text"] {
    width: 150px;
    margin:0;
    padding: 3px;
    border: 2px solid #2196F3;
    background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:#2196F3;
	margin-right: 10px;
	margin-left: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
	border-radius: 0.2em;
}

#loginform input[type="submit"] {
    width: 100px;
    margin:0;
    padding: 3px;
    border: 2px solid #2196F3;
    background-color: #2196F3;
	border-radius: 0.2em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

#loginform input[type="submit"]:hover {
    background-color: white;
	color:#2196F3;
	cursor:pointer;
}

#logoutform{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:#2196F3;
	height: 100%;
	float: right;
    line-height: 75px;
	margin-right: 25px;
}

#logoutform input[type="submit"] {
    width: 100px;
    margin:0;
    padding: 5px;
    border: 2px solid #2196F3;
    background-color: #2196F3;
	border-radius: 0.2em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:white;
	margin-left: 15px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

#logoutform input[type="submit"]:hover {
    background-color: white;
	color:#2196F3;
	cursor:pointer;
}


#uploadform{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:#2196F3;
	height: 100%;
    line-height: 75px;
	margin-right: auto;
	marign-left: auto;
}

#uploadform input[type="submit"] {
    width: 125px;
    margin:0;
    padding: 5px;
    border: 2px solid #2196F3;
    background-color: #2196F3;
	border-radius: 0.2em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:white;
	margin-left: 15px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

#uploadform input[type="submit"]:hover {
    background-color: white;
	color:#2196F3;
		cursor:pointer;
}

#uploadform input[type="file"] {
     display: none;
}

#uploadform label {
    width: 200px;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    border: 2px solid #2196F3;
    background-color: #2196F3;
	border-radius: 0.2em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:white;
	margin-left: 15px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

#uploadform label:hover {
    background-color: #FFFFFF;
	color: #2196F3;
	cursor:pointer;
}

.DeleteImage {
	margin-top: 10px;
	border-radius: 0.25em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
	width: 203px;
	height: 30px;
	font-size: 16px;
	border: 2px solid #D8334A;
    background-color: #D8334A;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

.DeleteImage:hover {
    background-color: #FFFFFF;
    color: #D8334A;
}

#signupform{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:#2196F3;
	height: 100%;
    line-height: 75px;
	margin-right: auto;
	marign-left: auto;
}

#signupform input[type="text"] {
    width: 150px;
    margin:0;
    padding: 3px;
    border: 2px solid #2196F3;
    background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:#2196F3;
	margin-right: 10px;
	margin-left: 5px;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
	border-radius: 0.2em;
}

#signupform input[type="submit"] {
    width: 100px;
    margin:0;
    padding: 3px;
    border: 2px solid #2196F3;
    background-color: #2196F3;
	border-radius: 0.2em;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color:white;
	box-shadow: 0 1px 5px rgba(0,0,0,0.16);
}

#signupform input[type="submit"]:hover {
    background-color: white;
	color:#2196F3;
	cursor:pointer;
}